.main-container {
    height: 100vh;
    width: 100vw;
    padding-top: 5vh;
    background: #e5e5e5;
}

.iframe {
    width: 70vw;
    height: 70vh;
    border: 2px solid black;
}

@media screen and (max-width: 940px) {

    .iframe {
        width: 80vw;
        height: 50vh;
        border: 2px solid black;
    }
}

@media screen and (max-width: 550px) {

    .iframe {
        width: 80vw;
        height: 30vh;
        border: 2px solid black;
    }

}




